.circle_check{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 1100px;
    top: 260px;
    font-size: 50px;
    border-radius: 50%;
    line-height: 120px;
    text-align: center;

    /* main */

    background: #FACA7B;
}


.complete_message{
    position: absolute;
    width: 312px;
    height: 80px;
    left: 870px;
    top: 480px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    /* または167% */

    text-align: center;

    /* black */

    color: #181818;

}

.donate_again{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 920px;
    top: 628px;

    /* main */

    background: #FFFFFF;
    border-radius: 12px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 50px;
    /* ボックスの高さと同一 */

    text-align: center;
    color:#FACA7B;
    border: 1px solid #181818

}

.back_home{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1200px;
    top: 628px;

    /* main */

    background: #FACA7B;
    border-radius: 12px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 50px;
    /* ボックスの高さと同一 */

    text-align: center;

    /* black */

    color: #181818;

}

