.p_form{
    width:852px;
    position: absolute;
    top: 5rem;
    left:30rem
}

.name{
    position: absolute;
    width: 43px;
    height: 22px;
    left: 385px;
    top: 356px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* ボックスの高さと同一 */


    /* black */

    color: #181818;

}

.age{
    position: absolute;
    width: 30px;
    height: 22px;
    left: 730px;
    top: 356px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* ボックスの高さと同一 */


    /* black */

    color: #181818;

}

