.find_search{
    padding: 1rem;
    margin-bottom: 0,7rem;
    margin-top: 1rem;
    background-color: #F8F8F8;
    width: 75%;
    height: 200px
}
.search_button{
    position: absolute;
    left: 96rem;
    top:8.3rem;

    width: 8rem;
    height: 36px;
    background: #FACA7B;
    text-align: center;
    line-height: 18px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #181818;
}

.apply_fillter{
    background: #FACA7B;
    border-radius: 12px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    /* ボックスの高さと同一 */

    text-align: center;

    /* black */

    color: #181818;

}


.classfication{
    position: absolute;
    left: 35rem;
    top:13rem;
    font-size: 25px;
}

.target_area{
    position: absolute;
    right: 38rem;
    top:13rem;
    font-size: 25px;
}

.category_fileter{
    position: absolute;
    top:16rem;
    left:32rem;

}

// Target area choose
.animal_search{
    position: absolute;
    right: 35rem;
    top:16rem;

}

.apply_category{
    background: #FACA7B;
    border-radius: 12px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 22px;
    /* ボックスの高さと同一 */

    text-align: center;

    /* black */

    color: #181818;

}


.apply_area{
    background: #FACA7B;
    border-radius: 12px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 22px;
    /* ボックスの高さと同一 */

    text-align: center;

    /* black */

    color: #181818;

}




