.card_potsion{
    margin-left: 200px;
}


p{
    color: #181818;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
}
.request{
    background-color:#FACA7B ;
    border-radius: 12px;
    height: 50px;
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
}

.content_request{
    height: 170px;
    background-color:#F8F8F8 ;
    border-radius: 12px;
    font-size: 17px;
}

.method
{
    height: 150px;
    background-color:#F8F8F8 ;
    border-radius: 12px;
    font-size: 17px;
    text-align: center;
}

.hand_money_image{
    width: 60px;
    height: 60px;
}

.arrow-icon{
    font-size: 60px;
    color:#FACA7B;
}

.dogfood{
    font-size: 60px;
    color:#FACA7B;
}

.link_checkout{
    height: 70px;
    background-color:#FACA7B;
    border-radius: 12px;
    text-align: center;
    font-size: 32px;
    padding-top: 8px;
}
