body {
    background-color: #f5f7fa;

    .like:hover {
        color: #f44336 !important;
        }

    .unlike:hover {
    color: gray !important;
    }

    .fas.fa-share-alt:hover {
    color: #0d47a1 !important;
    }

    .font1 {
    color: #f096a0;
    }

    .font-mask {
        color: #faca7b;
    }

    .best_answer{
        position: absolute;
        bottom: -80px;
        left: 250px;
    }
}
