.title{
    position: absolute;
    width: 262px;
    height: 33px;
    left: 589px;
    top: 130px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    /* ボックスの高さと同一 */

    text-align: center;

    /* black */

    color: #181818;

}
.pet{
    position: absolute;
    top: 350px;
    left: 184px;
}

.your_publication{
    position: absolute;
    width: 262px;
    height: 33px;
    left: 200px;
    top: 320px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    /* ボックスの高さと同一 */

    text-align: center;

    /* black */

    color: #181818;
}

// .card{
//     width: 100px;
//     height: 100px;
// }
.number_border{
    position: absolute;
    width: 852px;
    height: 0px;
    left: 500px;
    top: 222px;

    opacity: 0.1;
    /* black */

    border: 1px solid #181818
}
.circle_1{
    position: absolute;
    left: 474px;
    top:200px;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FACA7B;
    text-align: center;
    line-height: 50px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #181818;

}

.circle_title_1{
    position: absolute;
    left: 465px;
    top:248px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;



    color: #181818;
}

.circle_2{
    position: absolute;
    left: 900px;
    top:200px;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FACA7B;
    text-align: center;
    line-height: 50px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #181818;

}

.circle_title_2{
    position: absolute;
    left:888px;
    top:248px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;



    color: #181818;
}

.circle_3{
    position: absolute;
    left: 1326px;
    top:200px;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #DFDFDF;
    text-align: center;
    line-height: 50px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #181818;

}

.circle_title_3{
    position: absolute;
    left: 1317px;
    top:248px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;



    color: #181818;
}

.name{
    position: absolute;
    width: 43px;
    height: 22px;
    left: 385px;
    top: 356px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* ボックスの高さと同一 */


    /* black */

    color: #181818;

}

.age{
    position: absolute;
    width: 30px;
    height: 22px;
    left: 730px;
    top: 356px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* ボックスの高さと同一 */


    /* black */

    color: #181818;

}

.back_button{
    box-sizing: border-box;

    position: absolute;
    width: 200px;
    height: 50px;
    left: 1380px;
    top: 280px;



    background: #FFFFFF;
    /* main */

    border: 2px solid #FACA7B;
    border-radius: 12px;



    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
}

.confirm_button{

    position: absolute;
    width: 200px;
    height: 50px;
    left:1100px;
    top: 280px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    /* ボックスの高さと同一 */

    text-align: center;

    /* black */

    color: #181818;


    /* main */

    background: #FACA7B;
    border-radius: 12px;
}

