.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 10px;
  }
  .StripeElement.invalid {
    border-color: orange;
  }
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
